<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.fastcampus.ch">
            <context:exclude-filter type="regex" expression="com.fastcampus.ch3.diCopy*.*"></context:exclude-filter>
    </context:component-scan>
    <!--    원래 Autowired 어노테이션은 <context:annotation-config/> 설정이 필요하나 컴포넌트 스캔 설정이 이를 포함함-->
<!--    컴포넌트 스캔-->
</beans>